@tailwind base;
@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format('ttf');
}

@tailwind components;
@layer components {
  .btn-orange {
    @apply py-3 w-full px-4   bg-orange1 text-white font-semibold rounded-md shadow-md  focus:outline-none;
  }
}
@tailwind utilities;

html {
  font-size: 14px;
}
@media (max-width: 1440px) {
  *::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
