@tailwind base;
@font-face {
  font-family: 'Ubuntu';
  src: url(./assets/fonts/Ubuntu-Regular.ttf) format('ttf');
}

@tailwind components;
@layer components {
  .btn-orange {
    @apply py-3 w-full px-4  text-sm bg-orange1 text-white font-semibold rounded-md shadow-md  focus:outline-none;
  }
}
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0;
}
